<a class="btn btn-default pull-left" href="/">back</a>
<div class="page-header">
  <h1 class="text-center">Configration<h1>
</div>
<h2>Infomation</h2>
<div class="col-sm-6">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">IBeacon</h3>
    </div>
    <div class="panel-body">
      <ul class="list-group">
        <li class="list-group-item"><strong>UUID : </strong><%= config["uuid"] %></li>
        <li class="list-group-item"><strong>Major : </strong><%= config["major"] %></li>
        <li class="list-group-item"><strong>Minor : </strong><%= config["minor"] %></li>
      </ul>
    </div>
  </div>
</div>
<div class="col-sm-6">
  <div class="panel panel-success">
    <div class="panel-heading">
      <h3 class="panel-title">Traffic Lights</h3>
    </div>
    <div class="panel-body">
      <ul class="list-group">
        <li class="list-group-item list-group-item-danger"><strong>Red time : </strong><%= config["Rs"] %>s</li>
        <li class="list-group-item list-group-item-success"><strong>Green time : </strong><%= config["Gs"] %>s</li>
        <li class="list-group-item list-group-item-warning"><strong>Yellow time : </strong><%= config["Ys"] %>s</li>
      </ul>
    </div>
  </div>
</div>
<hr>
<h2>Setting</h2>
<div class="well">
  <form class="form-horizontal" action="/config" method="POST">
    <fieldset>
      <legend>IBeacon</legend>
      <div class="form-group">
        <label for="inputUUID" class="col-lg-2 control-label">UUID</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" id="inputUUID" name="config[uuid]" value="<%= config["uuid"] %>">
        </div>
      </div>
      <div class="form-group">
        <label for="inputMajor" class="col-lg-2 control-label">Major</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" id="inputMajor" name="config[major]" value="<%= config["major"] %>">
        </div>
      </div>
      <div class="form-group">
        <label for="inputMinor" class="col-lg-2 control-label">Minor</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" id="inputMinor" name="config[minor]" value="<%= config["minor"] %>">
        </div>
      </div>
      <legend>Traffic Lights</legend>
      <div class="form-group">
        <label for="inputRs" class="col-lg-2 control-label">Red LED Time</label>
        <div class="col-lg-10">
          <select class="form-control" id="inputRs" name="config[Rs]">
          <% (1..100).each do |n| %>
            <% if n.to_s == config["Rs"] %>
              <option selected="selected" value="<%= n %>" type="text"><%= n %></option>
            <% else %>
              <option value="<%= n %>" type="text"><%= n %></option>
            <% end %>
          <% end %>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="inputGs" class="col-lg-2 control-label">Green LED Time</label>
        <div class="col-lg-10">
          <select class="form-control" id="inputGs" name="config[Gs]">
          <% (1..100).each do |n| %>
            <% if n.to_s == config["Gs"] %>
              <option selected="selected" value="<%= n %>" type="text"><%= n %></option>
            <% else %>
              <option value="<%= n %>" type="text"><%= n %></option>
            <% end %>
          <% end %>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="inputYs" class="col-lg-2 control-label">Yellow LED Time</label>
        <div class="col-lg-10">
          <select class="form-control" id="inputYs" name="config[Ys]">
          <% (1..10).each do |n| %>
            <% if n.to_s == config["Ys"] %>
              <option selected="selected" value="<%= n %>" type="text"><%= n %></option>
            <% else %>
              <option value="<%= n %>" type="text"><%= n %></option>
            <% end %>  
          <% end %>
          </select>
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
          <button type="reset" class="btn btn-default">Cancel</button>
          <a class="btn btn-warning" href="config/default">default</a>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>